html, body {
  margin: 0;
  padding: 0;
  width: 100px;
}

ul {
  margin: 4px;
  padding: 0;
  list-style: none;
}

.visua11y {
  margin: 3% auto;
  padding: 4px;
  font-size: 1rem;
  background-color: #E5F2F2;
  cursor: pointer;
}

.visua11y:hover {
  background-color: #CFF2F2;
}
